@font-face {
    font-family: 'Saiyan-Sans';
    src: url('Fonts/Saiyan-Sans.ttf')  format('truetype');
  }


body{
    background-color: #000000;
    color:  rgb(245, 237, 222) ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}



h1{ margin-top: -20px;
    text-align: center;
    font-family:'Saiyan-Sans';
    font-size: 350px;
    top: 0px;

}

.button{
    color: rgb(0, 54, 172);
    text-transform: uppercase;
    background-color: transparent;
    border-image-source:url('Images/NubeVoladora.png');
    padding: 75px;
    padding-right: 186px;
    padding-bottom: 65px;
    justify-content: center;
    font-size: 20px;
    margin-top: 29px;
    font-family: 'Fonts/Saiyan-Sans';

}

#box-instrction{
    margin-bottom: 50px;
    justify-content: center;
}

#instruccions{
    text-align: center;
    display: flex;
    justify-content: center;
}

h1{
    color: yellow;
    font-size: 150px;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    
}

h2 {
    color: rgb(245, 237, 222);
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;  
    text-decoration-color: antiquewhite;  
}

p{  display: flex;
    justify-content: center;
    font-size: 22px;

}

#input-container{
    color:  rgb(245, 237, 222);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

#myCanvas { 
    width: 1890px;
    height: 840px;
    position: absolute;
    background-attachment: fixed;
}

#goku-kid{
    display: 'none';
    justify-content: center;
    bottom: auto;
    font-family: 'Fonts/Saiyan-Sans';
}

#restart-btn{
    display: flex;
    justify-content: center;
     color:orange;
    text-transform: uppercase;
    background: rgb(0, 54, 172);
    padding: 25px;
    display: flex;
    justify-content: center;
    border:darkgoldenrod;
    border-radius: 50px;
    font-size: 30px;
    margin-top: 50px;
    font-family: 'Fonts/Saiyan-Sans';
}

#final-bottom{
    display: flex;
    justify-content: center;
     color: rgb(0, 54, 172);
    text-transform: uppercase;
    background:#f57e42;
    padding: 25px;
    display: flex;
    justify-content: center;
    border:darkgoldenrod;
    border-radius: 50px;
    font-size: 400px;
    margin-top: 30px;
    font-family: 'Fonts/Saiyan-Sans'
}

#restart{
    display: flex;
    justify-content: center;
     color: rgb(0, 54, 172);
    text-transform: uppercase;
    background:#f57e42;
    padding: 25px;
    display: flex;
    justify-content: center;
    border:darkgoldenrod;
    border-radius: 50px;
    font-size: 20px;
    margin-top: 30px;
    font-family: 'Fonts/Saiyan-Sans';
}








