body{
    background-color: #000000;
    color: #ebd834;
    font-family: 'fantasy', Arial, Helvetica, sans-serif;

}


.button{
    color: rgb(0, 54, 172);
    text-transform: uppercase;
    background:#f57e42;
    padding: 25px;
    display: flex;
    justify-content: center;
    border:darkgoldenrod;
    border-radius: 50px;
    font-size: 20px;
    margin-top: 30px;
    font-family: 'Verdana';

}


h1{
    text-align: center;

}

#box-instrction{
    margin-bottom: 50px;
    justify-content: center;
}

#instruccions{
    text-align: center;
    display: flex;
    justify-content: center;
}

h1{
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;    
}

p{  display: flex;
    justify-content: center;
    font-size: 22px;

}

#input-container{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

#start-btn{
    display: flex;
    justify-content: center;
    color:#f57e42;
    text-transform: uppercase;
    background: rgb(0, 54, 172);
    padding: 25px;
    display: flex;
    justify-content: center;
    border:darkgoldenrod;
    border-radius: 50px;
    font-size: 20px;
    margin-top: 30px;
    font-family: 'Verdana';


}    



#myCanvas {
    width: 1890px;
    height: 840px;
    position: absolute;
    background-attachment: fixed;
}


#goku-kid{
    display: block;
    justify-content: center;
    bottom: auto;
}

#restart-btn{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
}

#final-bottom{
    display: flex;
    justify-content: center;
     color: rgb(0, 54, 172);
    text-transform: uppercase;
    background:#f57e42;
    padding: 25px;
    display: flex;
    justify-content: center;
    border:darkgoldenrod;
    border-radius: 50px;
    font-size: 20px;
    margin-top: 30px;
    font-family: 'Verdana';


}
#restart{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 50px;

}










